.form-group.required li:after {
   content:"*";
   color:red;
}
.form-group required
{

    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


body{
    font-family: Times New Roman;
    font-size: 19px;
}
