/*Styles form box*/ 
* {
    box-sizing: border-box;
}
/*Style margin*/ 
span {
margin-top:10px;
color:red
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc;
margin-bottom:25px
}
/*Styles div container*/ 
div.container {
width:900px;
height:610px;
margin-right: auto;
font-family:'Raleway',sans-serif;
}
/*Styles main container*/ 
div.main {
width:306px;
padding:10px 50px;
border:10px solid rgb(255, 254, 254);
border-radius:10px;
font-family:raleway;
float:right; 
}
/*Styles text area*/ 
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
/*Styles submit button*/ 
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
/*Styles submit button*/ 
input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
