/*Styles labels*/ 
label{
    float:left;
    font-size:16px
}
/*Styles text boxes*/ 
input[type="text"]{
    width:100%;
    margin-top:10px;
    height:35px;
    margin-bottom:25px;
    padding:10px;
    border:3px solid #2BC1F2; 
    resize:vertical;
}
/*Styles text area*/ 
textarea{
    width:100%;
    border:3px solid #2BC1F2;
    padding:10px;
    margin-bottom:25px;
    margin-top:10px;
    height:100px;
    resize:vertical; 
}
/*Styles submit button*/ 
input[type="submit"]{
    width:15%;
    padding:10px 45px;
    background-color:#2BC1F2;
    border:none;
    color:#fff;
    font-size:18px;
    font-weight:700;
    cursor:pointer;

}
/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    
    
}
  
  
