.blog-header {
  line-height: 1;
  border-bottom: 10px solid #ffffff;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}
#tips{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 55%;
}


#tiktokqr{
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  width: 27%;
  
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.fab {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}

.fa-tiktok{
  background: #000000;
  color: white;
}




/*
 * Footer
 */
 .blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}









