h1{
    text-align: left;
    text-transform: uppercase; 
    color: rgb(0, 0, 0); 
    font-family: "Lucida Console", "Courier New", monospace;   
}
#learn{
    text-align: center;
    text-transform: uppercase; 
    color: rgb(0, 0, 0); 
    font-style: italic; 
    font-family: "Lucida Console", "Courier New", monospace;  
}
* {
  
  /*border-radius: 25px;*/ 
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.contest{
  width: 300px;
}
.graphic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 20%; 
}
.intro-container{
 float: left;
}
.misinformation-container{
   position: absolute; 
   top: 275px; 
   right: 0px;
   /*
   text-align: right;
   float: right;*/ 
 } 
 .disinformation-container{
   float: left;
   
 }
 .malinformation-container{
   text-align: right;
   float: right; 
   margin-top: auto;
   right: 0px;
   left: 870px; 
   position: absolute;
 }
 .pledge-container{
   text-align: center;
 }
 .contest-container{
   text-align: center;
 }
 .memefolder{
   margin-right: auto;
 }

 #intro{
   font-family: 'Times New Roman', Times;
   color: rgb(0, 0, 0);
   font-size: large;
   border-style: solid;
   border-width: 5px;
   border-color: rgb(0, 0, 0);
   background-color: rgba(255, 255, 255, 0.911);
   /*
   border-radius: 0%;
   height: 150px;
   width: 47%; */
 }


 #misinfo{
  font-family: 'Times New Roman', Times;
  color: rgb(0, 0, 0);
  font-size: large;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.911);
  /*border-radius: 0%;
  height: 124px;
  width: 100%;*/ 
 }
 #disinfo{
  font-family: 'Times New Roman', Times;
  color: rgb(0, 0, 0);
  font-size: large;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 0%;
  /*height: 150px;*/ 
  /*width: 75%;*/ 
 }
 #malinfo{
  font-family: 'Times New Roman', Times;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: large;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 0%;
  /*height: 150px;/*
  /*width: 120%;*/ 
 }
 #p{
  font-size: x-large;
  font-family: 'Times New Roman', Times;
  color:rgb(0, 0, 0);
 }

#bearsize{
  width: 40%;
  float: right;
  margin-right: 2%;
} 
 #minion{
   width: 40%;
   float: left;
   margin-left: 2%;
}

