body {
    background-color: #fef8e6;
}
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    /*border-radius: 25px;*/
}

.header-wrapper {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img-wrapper .logo {
    height: 9.375em;
    width: 9.375em;
}

.carousel-main-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
}

.carousel-inner img {
    margin: auto;
}

.home-page-img {
    height: 30em;
    width: 60%;
    object-fit: contain;
    object-position: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.kids {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.baby {
    float: left;
}

#kids{
    color: rgb(233, 19, 19); 
    margin-bottom: 18.40%;
    /*margin-bottom: 42%;*/ 
}

#adults{
    color: rgb(0, 0, 0); 
    text-align: center;
    text-emphasis-position: top;
}
#contest{
    color: red; 
    margin-left: 50%;
    margin-bottom: 20%;
}
#aboutheading{
    color: rgb(0, 0, 0); 
    font-family: 'Times New Roman', Times;
    text-align: center;
}

.about{
    border: 5px solid rgb(0, 0, 0); 
    color: rgb(0, 0, 0);
}
#ab2{
    text-align: center;
    font-size: large;
}

#tips{
    /*
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; */ 
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}