/*Styles heading*/ 
h1{
    text-align: left;
    text-transform: uppercase; 
    color: rgb(0, 0, 0); 
    font-family: "Lucida Console", "Courier New", monospace;   
}
/*Styles learn*/
#learn{
    text-align: center;
    text-transform: uppercase; 
    color: rgb(0, 0, 0); 
    font-style: italic; 
    font-family: "Lucida Console", "Courier New", monospace;  
}
/*Styles images next to each other*/
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*Styles contest*/
.contest{
  width: 300px;
}
/*Styles image*/
.graphic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 20%; 
}
/*Styles intro container*/
.intro-container{
 float: left;
}
/*Styles misinformation container*/
.misinformation-container{
   position: absolute; 
   top: 275px; 
   right: 0px;
} 
/*Styles disinformation container*/
.disinformation-container{
  float: left;
}
/*Styles malinforamtion container*/
.malinformation-container{
  text-align: right;
  float: right; 
  margin-top: auto;
  right: 0px;
  left: 870px; 
  position: absolute;
}
/*Styles pledge container*/
.pledge-container{
  text-align: center;
}
/*Styles contest container*/
.contest-container{
  text-align: center;
}
/*Styles memefolder container*/
.memefolder{
  margin-right: auto;
}
/*Styles Intro heading*/
#intro{
  font-family: 'Times New Roman', Times;
  color: rgb(0, 0, 0);
  font-size: large;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.911);
}
/*Styles misinfo heading*/
#misinfo{
font-family: 'Times New Roman', Times;
color: rgb(0, 0, 0);
font-size: large;
border-style: solid;
border-width: 5px;
border-color: rgb(0, 0, 0);
background-color: rgba(255, 255, 255, 0.911);
}
/*Styles disinfo heading*/
#disinfo{
font-family: 'Times New Roman', Times;
color: rgb(0, 0, 0);
font-size: large;
border-style: solid;
border-width: 5px;
border-color: rgb(0, 0, 0);
background-color: rgba(255, 255, 255, 0.911);
border-radius: 0%;
}
/*Styles malinfo heading*/
#malinfo{
font-family: 'Times New Roman', Times;
text-align: left;
color: rgb(0, 0, 0);
font-size: large;
border-style: solid;
border-width: 5px;
border-color: rgb(0, 0, 0);
background-color: rgba(255, 255, 255, 0.911);
border-radius: 0%;
}
/*Styles paragraphs*/
#p{
font-size: x-large;
font-family: 'Times New Roman', Times;
color:rgb(0, 0, 0);
}
/*Styles bear image */
#bearsize{
  width: 40%;
  float: right;
  margin-right: 2%;
} 
/*Styles minion image*/
#minion{
  width: 40%;
  float: left;
  margin-left: 2%;
}

